<form action="/form" method="POST">
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" id="name" name="name" required />
  </div>
  <div class="form-group">
    <label for="area">area</label>
    <input type="text" id="area" name="area" required />
  </div>
  <div class="form-group">
    <label for="vacancies">vacancies</label>
    <input type="text" id="vacancies" name="vacancies" required />
  </div>
  <div class="form-group">
    <label for="last_date">last_date</label>
    <input type="date" id="last_date" name="last_date" required />
  </div>

  <button type="submit">Add</button>
</form>
